# ignore's node_modules (dependencies)
node_modules/

# ignore's environment variables
.env
../public/pages/.ENV

# ignore's log files
logs/
*.log

# ignore's database files (if using SQLite)
*.sqlite
*.sqlite3

# ignore's system files
.DS_Store
Thumbs.db

# ignore's build artifacts
dist/
build/
