:root {
    --primary-color: #32292A;
    --secondary-color: #4F4544;
    --tertiary-color: #B92A1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.addepisodeForm {
    --number-of-columns: 2;
    background-color: white;
    position: absolute;
    height: 90%;
    width: 80%;
    top: 50%;
    left: 50%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
    text-align: center;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(var(--number-of-columns), minmax(45px, 1fr));
}

.close {
    display: block;
    font-size: x-large;
    color: black;
    grid-column: 1 / span 2;
    justify-self: end;
    cursor: pointer;
}

.addepisodeForm input,
.addepisodeForm textarea {
    padding-inline: 20px;
}

.discription {
    grid-column: 1 / 3;
    padding: 10px;
}

.submitButton {
    grid-column: 1 / 3;
}

.dateForm {
    position: absolute;
    top: 40%;
    left: 50%;
    display: grid;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    gap: 20px;
}

.dateForm h3,
.dateForm input {
    font-size: larger;
}

.dateForm button {
    padding: 15px;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 5px;
    border: none;
}

.nav {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 20px 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.controlls {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 16px 32px;
    gap: 15px;
}

.controlls button {
    cursor: pointer;
}

.buttonControll {
    padding: 10px 15px;
    background-color: var(--tertiary-color);
    outline: transparent;
    border: none;
    color: white;
    border-radius: 5px;
}

.table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.idGroup {
    text-align: center;
    width: 50px;
}

.editIcon {
    color: rgb(15, 197, 15);
    cursor: pointer;
    margin-left: 10px;
}

.deleteIcon {
    color: rgb(219, 6, 6);
    cursor: pointer;
    margin-left: 10px;
}
